@CHARSET "UTF-8";
html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  margin:0;
  padding:0;
  background-color: black;
}

#wrapper{
  height: 100% !important;
  margin: 0 auto;
  overflow: hidden;
}


#left_block {
	position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    height: 100%;
}
.room-doc-palette{position:absolute;right:0;top:0;width:50px;height:100%;background-color:#f4f4f4;border-left:1px solid #c6c6c6}
#right_menu {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    vertical-align: top;
    width:50px;
    height: 100%;
    min-height: inherit;
    background-color: #33333;
    border-left:1px solid #c6c6c6;
}

.remote-video {
	position:absolute;
	left:0;
	top:0;
	z-index:-3;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
	pointer-events:none;
}

.local-video {
	position:absolute;
	left:1%;
	bottom:3%;
	z-index:6;
	width:13%;
	background-position:center;
	background-repeat:no-repeat;
	pointer-events:none;
}

.icon {
	position: absolute;
	display: block;
	right:0;
}

#icon1 {
	position: absolute;
	top: 50px;
}
#side1 {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 50px;
	right: 60px;
	display: none;
	z-index: 100;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 25px;
}

#icon2 {
	position: absolute;
	top: 250px;
}

#icon3 {
	position: absolute;
	top: 450px;
}
