@CHARSET "UTF-8";
html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

#wrapper{
  height: 100% !important;
  margin: 0 auto;
  overflow: hidden;
}


#left_block {
	position: relative;
    left: 0;
    top: 0;
    width: calc(100% - 60px);
    height: 100%;
}

#right_menu {
	position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    vertical-align: top;
    width: 60px;
    min-width: 60px;
    height: 100%;
    min-height: inherit;
    background-color: #0cf;
}

.remote-video {
	position:absolute;
	left:0;
	top:0;
	z-index:-3;
	width:100%;
	background-position:center;
	background-repeat:no-repeat;
	pointer-events:none;
}

.local-video {
	position:absolute;
	left:1%;
	bottom:3%;
	z-index:6;
	width:13%;
	background-position:center;
	background-repeat:no-repeat;
	pointer-events:none;
}

.sidenav {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 5;
    display: none;
    width: 400px;
    height: calc(100% - 50px);
    overflow: hidden;
    cursor: default;
    pointer-events: none;
    background-color: #737373;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #0cf;
    display: block;
}