html {
  height: 100%;
}
body {
  height: 100%;
}
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.main {
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
@media (max-width: 991px) {
  .section-gray {
    background: #eeeeee;
  }
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #000;
  opacity: 0.5;
  filter: alpha(opacity=30);
}
.main_content{
	position: relative;
	text-align: center;
	top: 20%;
	width: 100%;
/*   -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; */
}
#page1_h1{
	color: white;
	font-size: 600%;
	font-family : 'Jeju Gothic', sans-serif; 
	z-index: 100;
	position: relative;
}
#enter_box{
	 text-align : left;
	 font-family : 'Jeju Gothic', sans-serif; 
	 font-size: 100%;
	 width: 30%;
	 height: 100%;
	 position: relative;
	 margin: 5% auto;
	 padding : 3% 3% 5% 3% ;
	 box-shadow:0 1px 30px #000;
	 border-radius:20px;
	 background-color:#000;
	 border:1px solid #333;
	 opacity:.5
}
.next_arrow{
	position: absolute;
	cursor: pointer;
	right: 40px;
	top: 148px;
	width: 50px;
	height: 50px;
}
#inner_div {
	position: relative;
	width: 100%;
}

input#createChannelId {
	font-family: 'Jeju Gothic';
	margin-top: 20px;
    width: 100%;
    height: 50px;
    vertical-align: middle;
	background-color: #252525;
	color: #fff;
	padding: 0 20px;
	border-radius: 25px;
	border: 0 solid #333;
	font-size: 15px;
	font-weight: bold;
	outline: 0;
}
#page2{
	background: url("../img/1bg1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
}
img#content1{
	margin: auto;
	height: 75%;
	
}
#page3{
	background: url("../img/2bg2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	display: flex;
}
img#content2{
	margin: auto;
	height: 80%;
}
#page4{
	background: url("../img/4test3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#page1 {
  text-align: center;
  color: #fff;
	margin : 0;
	padding : 0;
	background :#444;
	z-index: -10;
}
#main_video_bg {
    position : fixed;
	top : 0; 
	left : 0;
	width : 100%;
	height : auto; 
	z-index : -100;
}
#page1 h2,
#page1 h3 {
  color: #fff;
}
#page1 .icon {
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border: solid 2px #fff;
  border-radius: 20px;
  z-index: 3;
}
body.disabled-onepage-scroll .onepage-wrapper section {
  min-height: 100%;
  height: auto;
}
body {
  font-family: "Cardo", "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #444;
}
a {
  color: #4fbfa8;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #348e7b;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
label {
  font-weight: normal;
}
.form-group {
  margin-bottom: 20px;
}
/* pagination */
.pagination {
  margin: 22px 0;
  font-family: 'YoonGothic240', 'Montserrat', sans-serif;
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  padding: 6px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #4fbfa8;
  background-color: #ffffff;
  border: 1px solid #dddddd;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #4fbfa8;
  background-color: #bfe8df;
  border-color: #dddddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #4fbfa8;
  border-color: #4fbfa8;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #dddddd;
}
/* responsive utilities */
@media (max-width: 767px) {
  .text-center-xs {
    text-align: center !important;
  }
  .text-center-xs img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .text-center-sm {
    text-align: center !important;
  }
  .text-center-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/* type */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'YoonGothic240', 'Montserrat', sans-serif;
  font-weight: 700;
  line-height: 1.3;
  color: #333333;
  text-transform: uppercase;
  /* letter-spacing: 0.08em; */
}
h1,
.h1 {
  font-size: 48px;
}
h2,
.h2 {
  font-size: 36px;
}
h3,
.h3 {
  font-size: 31px;
}
h4,
.h4 {
  font-size: 24px;
}
h5,
.h5 {
  font-size: 16px;
}
h6,
.h6 {
  font-size: 16px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 0;
  margin-bottom: 22px;
}
.main_box_p {
  color: #0cf;
  font-size: 30px;
  font-weight: 1000;
}
.main_small_p{
  font-size: 15px;
}
